.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

img {
    width: 200px;
    height: 200px;
    padding: 50px;
    padding-left: 100px;
}

input {
    height: 56px;
    width: 300px;
    margin-left: 265px;
}

button{
    margin-left: 265px;
    padding: 10px 50px;
    border-radius: 50px;
    border-color: #555;
}
